%h3 Sondages 
%ul.nav.nav-pills
  - @sondages.each do |s|
    - if s.questions.count > 0
      - if s.users.include? current_user
        %li.disabled{:role => "presentation"}
          %a.btn-default.btn
            = s.nom
            par
            = s.entreprise.nom
      - else
        %li{:role => "presentation"}
          = link_to s.nom + " par " + s.entreprise.nom, s, class: "btn-default btn"
