/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$nprogress-color: black;
$nprogress-height: 5px;
$nprogress-zindex: 10100;
@import 'nprogress';
@import 'nprogress-bootstrap';

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: rgb(233, 237, 225);
  h3 {
    text-align: center;
    margin: 30px 0px;
  }
  .header {
    width: 100%;
    h1 {
      a {
        text-decoration: none;
        color: black;
        font-family: 'Nothing You Could Do', cursive;
        font-size: 70px;
        color: #f0ad4e;
      }
    }
    .navbar {
      float: right;
      margin-top: -65px;
    }
  }
  .content {
    .form_user {
      label {
        width: 200px;
      }
      select, input {
        width: 200px;
      }
      .current {
        font-style: italic;
      }
    }
    .form_user_co {
      label {
        width: 100px;
      }
      select, input {
        width: 200px;
      }
      .current {
        font-style: italic;
      }
    }
  }
}
